* {
  box-sizing: border-box;
}

header {
  position: relative;
  top: 0;
  margin: 0;
  height: 80px;
  width: 100%;

  /* background-color: rgb(47, 46, 46);
  color: white; */
}

.header__heading {
  margin-top: 0;
  position: absolute;
  top: 50%;
}

.nav__bar {
  position: absolute;
  top: 50%;
  right: 0;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(123, 123, 219);
}

body {
  /* background-color: rgb(33, 33, 33);
  color: white; */
}

.intro__section {
  position: relative;
  top: 0;
  margin: 0;
  height: 30%;
  width: 100%;
  border: solid salmon;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.intro__badge {
  display: flex;
  border: solid;
  margin: 0;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image: url(./asset/SM-placeholder.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* .intro__badge img {
  position: absolute;
  top: 0;
  left: 0;
  border: solid;
  margin: 0;
  height: 50%;
  width: 50%;
} */

.intro__text {
  border: solid;
  width: 50%;
}

#contact {
  border: solid black;
}

.social_handle {
  display: flex;
}

.social__name {
  text-align: center;
}
